In [1]:
import pandas as pd

In [12]:
melbourne_file_path = "/melb_data.csv"
melbourne_data=pd.read_csv(melbourne_file_path)
melbourne_data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [23]:
melbourne_data.columns
melbourne_data=melbourne_data.dropna(axis=0)
melbourne_data.isnull().sum()

Suburb           0
Address          0
Rooms            0
Type             0
Price            0
Method           0
SellerG          0
Date             0
Distance         0
Postcode         0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
YearBuilt        0
CouncilArea      0
Lattitude        0
Longtitude       0
Regionname       0
Propertycount    0
dtype: int64

In [26]:
y=melbourne_data.Price
melbourne_features = ['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude']
x=melbourne_data[melbourne_features]

In [28]:
from sklearn.tree import DecisionTreeRegressor
melbourne_model=DecisionTreeRegressor(random_state=1)
melbourne_model.fit(x,y)

DecisionTreeRegressor(random_state=1)

In [31]:
print("Make predictions for 5 houses:")
print(x.head())
print("The predictions:")
print(melbourne_model.predict(x.head()))

Make predictions for 5 houses:
   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954
The predictions:
[1035000. 1465000. 1600000. 1876000. 1636000.]

In [34]:
from sklearn.metrics import mean_absolute_error
predicted_house_prices=melbourne_model.predict(x)
mean_absolute_error(y,predicted_house_prices)

1115.7467183128902

In [38]:
from sklearn.model_selection  import train_test_split
train_x, val_x, train_y, val_y= train_test_split(x,y,random_state=0)
melbourne_model=DecisionTreeRegressor()
melbourne_model.fit(train_x,train_y)
val_prediction=melbourne_model.predict(val_x)
print(mean_absolute_error(val_y,val_prediction))

274114.068431246

In [40]:
from sklearn.metrics import mean_absolute_error
from sklearn.tree import DecisionTreeRegressor
def get_mae(max_leaf_nodes,train_x,val_x,train_y,val_y):
  model=DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes,random_state=0)
  model.fit(train_x,train_y)
  preds_val=model.predict(val_x)
  mae=mean_absolute_error(val_y,preds_val)
  return (mae)

In [42]:
for max_leaf_nodes in [5,50,500,5000]:
  my_mae=get_mae(max_leaf_nodes,train_x,val_x,train_y,val_y)
  print("Max leaf nodes: %d \t\t Mean Absolute Error: %d" %(max_leaf_nodes,my_mae))

Max leaf nodes: 5 		 Mean Absolute Error: 385696
Max leaf nodes: 50 		 Mean Absolute Error: 279794
Max leaf nodes: 500 		 Mean Absolute Error: 261718
Max leaf nodes: 5000 		 Mean Absolute Error: 271320

In [44]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
forest_model=RandomForestRegressor(random_state=1)
forest_model.fit(train_x,train_y)
melb_preds=forest_model.predict(val_x)
print(mean_absolute_error(val_y,melb_preds))

207190.6873773146